.jumbotron {
	background-image: url('https://img.freepik.com/premium-photo/contact-us-hand-man-holding-mobile-smartphone-with-mail-phone-email-chat-icon-cutomer-support-concept-blue-wide-banner_256259-2764.jpg?w=1380');
	background-size: cover;
	background-position: center;
	color: rgb(228, 230, 238);
}


.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.navbar {
	margin-bottom: 0;
	transition: all 0.4s ease-in-out;
	height: 60px; /* adjust this value as needed */
}

.navbar-brand {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -10px; /* adjust this value as needed */
  }

.navbar-nav {
	justify-content: flex
}

.navbar-nav .nav-link {
	transition: color 0.4s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	transform: translateY(5px);
  }

  .navbar-brand img {
	margin-top: 50px;
	margin-left: -60px;
	width: 300px;
	height: 500px;
	object-fit: contain;
  }

  .carousel-item {
    height: 400px; /* Set a fixed height for the images */
    width: 100%; /* Set a fixed width for the images */
    object-fit: contain; /* Make sure the images fill their container */
  }







#results {
    margin-top: 30px;
    opacity: 0.8;
}

body {
    background-image: url('close-up-human-hand-holding-blue-puzzle-piece-with-brain-cogwheel-drawing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
    text-align: center;
}

form {
    margin: 1em 0;
    text-align: center;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 300px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #666;
    outline: none;
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 1.2em;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0062cc;
    cursor: pointer;
}

#results {
    margin: 1em 0;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
