body {
    background-color: #f2f2f2;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .navbar {
	margin-bottom: 0;
	transition: all 0.4s ease-in-out;
	height: 60px; /* adjust this value as needed */
}

.navbar-brand {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -10px; /* adjust this value as needed */
  }

.navbar-nav {
	justify-content: flex
}

.navbar-nav .nav-link {
	transition: color 0.4s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	transform: translateY(5px);
  }

  .navbar-brand img {
	margin-top: 50px;
	margin-left: -60px;
	width: 300px;
	height: 500px;
	object-fit: contain;
  }